<!--  
File: picture.py
# Author: Taner Altan (altant@bu.edu), 6/12/2026
# Description: basic html to display a random image only
-->

{% load static %}
<html>
    <head>
        <title>Dad Jokes</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'main3' %}">Home</a>
                <a href="{% url 'jokes' %}">Jokes</a>
                <a href="{% url 'pictures' %}">Pictures</a>
                <a href="{% url 'random' %}">Random</a>
            </nav>
            <h1>Dad Jokes</h1>
        </header>
        <hr>
        <p><img src= {{ picture.image_url }} alt="Random picture"></p>
    </body>
    <footer>
        Dad Jokes Footer
    </footer>
</html>