<!--  
File: show_pictures.py
# Author: Taner Altan (altant@bu.edu), 6/12/2026
# Description: basic html to show all pictures
-->

{% load static %}
<html>
    <head>
        <title>Dad Jokes</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'main3' %}">Home</a>
                <a href="{% url 'jokes' %}">Jokes</a>
                <a href="{% url 'pictures' %}">Pictures</a>
                <a href="{% url 'random' %}">Random</a>
            </nav>
            <h1>Dad Jokes</h1>
        </header>
        <hr>
        <div class="picturesDisplay">
            {% for picture in pictures %}
                <img src= {{ picture.image_url }} alt="Random picture">
            {% endfor %}
        </div>
    </body>
        <footer>
            Dad Jokes Footer
        </footer>
</html>
