<!-- # File: base.html
# Author: Taner Altan (altant@bu.edu), 06/03/2026
# Description: base.html renders the header and footer. Used by other html files to decrease redundancy
-->
{% load static %}
<html>
    <head>
        <title>PresidentGram</title>
        <link rel="stylesheet" href="{% static 'as2.css' %}">
    </head>
    <body>
        <nav>
            <a href="{% url 'show_all' %}">Home</a>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'profile' %}">My Profile</a></li>
            <li><form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}

                <button type="submit">Update</button>
            </form></li>
            {% else %}
            <li><a href="{% url 'login' %}">Log in</a></li>
            {% endif %}
        </nav>
        <h1>PresidentGram</h1>
        <hr>
        {% block content %}
        {% endblock %}
    </body>
    <footer>
        {% if profile %}
        <a href="{% url 'create_post' %}">Create Post</a>
        <a href="{% url 'feed' %}">Feed</a>
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'search' %}">Search</a>
        {% endif %}
        <nav>
            <a href="{% url 'show_all' %}">Return to all profiles View</a>
        </nav>
    </footer>
</html>