{% load static %}
<html>
    <head>
        <title>PreisdentGram</title>
        <link rel="stylesheet" href="{% static 'as2.css' %}">
    </head>
    <body>
        <nav>
            <a href="{% url 'show_all' %}">Home</a>
        </nav>
        <h1>PreisdentGram</h1>
        <hr>
        {% block content %}
        {% endblock %}
    </body>
    <footer>
        {% if profile %}
        <a href="{% url 'create_post' profile.pk %}">Create Post</a>
        <a href="{% url 'feed' profile.pk %}">Feed</a>
        <a href="{% url 'profile' profile.pk %}">Profile</a>



        {% endif %}
        <nav>
            <a href="{% url 'show_all' %}">Return to all profiles View</a>
        </nav>
    </footer>
</html>