# File: create_post_form.html
# Author: Taner Altan (altant@bu.edu), 06/03/2026
# Description: create_post_form is the html used for the site where you can create a form.


{% extends 'mini_insta/base.html' %}
{% load static %}
{% block content %}

<!-- scriptlet code to display the value of the variable `articles` 
{{ articles }}
-->
<h1>New Post:</h1>
<hr>
<div>
    <form action="{% url 'create_post' profile.pk %}" method="POST">
    {% csrf_token %}

    <table>
        <tr>
            <th>Caption</tr>
            <td>{{form.caption}}</td>
        </th>
        <tr>
            <th>IMG URL</th>
            <td>{{form.image_url}} </td>
        </tr>
    </table>
    <input type="submit">
    <a href="{% url 'profile' profile.pk %}">Cancel</a>
    </form>
</div>
{% endblock %}