{% extends 'mini_insta/base.html' %}
{% load static %}
{% block content %}

<!-- scriptlet code to display the value of the variable `articles` 
{{ articles }}
-->
<h1>{{post.profile.display_name}}: {{post.caption}}</h1>
<div>
    <p>{{post.timestamp}}</p>
</div>
<hr>
<div>
    {% for photo in post.get_all_photos %}
        <div>
            <img src="{{photo.image_url}}" alt="{{post.caption}}">
        </div>
    {% endfor %}
    <p>{{post.caption}}</p>
    <a href="{% url 'delete_post' post.pk %}">Delete</a>
    <a href="{% url 'update_post' post.pk %}">Update</a>
    <p> {{post.get_all_likes.count}} Likes</p>
    <hr>
    {% for comment in post.get_all_comments %}
        <div>
            <p>{{comment.profile.display_name}} - {{comment.timestamp}}</p>
            <p>{{comment.text}}</p>
        </div>
    {% endfor %}

</div>
{% endblock %}