<!--
# File: show_feed.html
# Author: Taner Altan (altant@bu.edu), 06/03/2026
# Description: responsible for showing the a person's followers


 templates/show_all.html -->
{% extends 'mini_insta/base.html' %}
{% load static %}
{% block content %}
 
<h1>Showing all Followers of {{profile.display_name}}:</h1>
<!-- scriptlet code to display the value of the variable `articles` 
{{ articles }}
-->
<br>
<div>
    {% for a in profile.get_followers %}
    <div>
		<h2>{{a.display_name}}</h2>
		<p>
        <a href="{% url 'show_profile' a.pk %}"><img src= {{ a.profile_image_url }} alt="Random Quote Image"></a><br>
		{{a.bio_text}}
		</p>
    </div>
 
 
    {% endfor %}
<div>
{% endblock %}