{% extends 'mini_insta/base.html' %}
{% load static %}
{% block content %}

<!-- scriptlet code to display the value of the variable `articles` 
{{ articles }}
-->
<h1>Profile: {{profile.display_name}}</h1>
<div>
    <p>{{profile.username}}</p> <p>{{profile.join_date}}</p>
</div>
<hr>
<div>
    <div>
		<p>
        <p><img src= {{ profile.profile_image_url }} alt="Random Quote Image"></p>
		{{profile.bio_text}}
		</p>
        <a href="{% url 'update_profile' profile.pk %}">Edit Profile</a>
        {% for post in profile.get_all_posts %}
            {% if post.get_all_photos.first %}
                <a href="{% url 'post' post.pk %}"><img src= {{ post.get_all_photos.first.image_url }} alt="{{ post.caption }}"></a>
            {% else %}
                <a href="{% url 'post' post.pk %}">{{post.caption}}</a>
            {% endif %}
        {% endfor %}
        
    </div>
</div>
{% endblock %}