<!-- templates/show_all.html -->
{% extends 'mini_insta/base.html' %}
{% load static %}
{% block content %}
 
<h1>{{profile.display_name}} follows:</h1>
<!-- scriptlet code to display the value of the variable `articles` 
{{ articles }}
-->
<br>
<div>
    {% for a in profile.get_following %}
    <div>
		<h2>{{a.display_name}}</h2>
		<p>
        <a href="{% url 'profile' a.pk %}"><img src= {{ a.profile_image_url }} alt="Random Quote Image"></a><br>
		{{a.bio_text}}
		</p>
    </div>
 
 
    {% endfor %}
<div>
{% endblock %}