{% load static %}
<html>
    <head>
        <title>Mikhail Tal – About</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">

    </head>
    <body>
        <h1>Mikhail Tal – About</h1>
        <hr>
        <p>Mikhail Tal was a chess player and the eighth World Chess Champion born in Riga, Latvia. He is best known for sacrificing material in exchange for positional benefit and writing detailed books discussing chess strategy. On June 28 1992, Tal died due to liver complications at the age of 55.</p>
        <p> Taner Altan is a BU senior majoring in computer science. He enjoys playing chess, video games and programming. He is currently considering a masters degree in computer science.</p>
 
    </body>
</html>